<header class="navbar" [class.menu-open]="menuOpen">


<div class="nav-container">

    <!-- HAMBURGER (mobile) -->
    <div class="hamburger-nav">

      <button class="hamburger"
              (click)="toggleMenu()"
              [class.active]="menuOpen"
              aria-label="Toggle Navigation">

        <span></span>
        <span></span>
        <span></span>

      </button>

      <nav class="hamburger-menu" [class.open]="menuOpen">

        <a *ngIf="router.url !== '/'" routerLink="/" (click)="toggleMenu()">Inicio</a>

        <a *ngIf="router.url !== '/founder'" routerLink="/founder" (click)="toggleMenu()">Fundador</a>

        <a *ngIf="router.url !== '/artists'" routerLink="/artists" (click)="toggleMenu()">Artistas</a>

        <a *ngIf="router.url !== '/vinilos'" routerLink="/vinilos" (click)="toggleMenu()">Vinilos</a>

        <a *ngIf="router.url !== '/merch'" routerLink="/merch" (click)="toggleMenu()">Merch</a>

        <a *ngIf="router.url !== '/about'" routerLink="/about" (click)="toggleMenu()">Sobre Nosotros</a>



      </nav>

    </div>

    <!-- BACK ARROW -->
    <button class="back-arrow" (click)="goBack()" aria-label="Volver">
      ←
    </button>

    <!-- DESKTOP NAV -->
  <nav class="mini-nav">

    <a *ngIf="router.url !== '/'" routerLink="/" routerLinkActive="active">Inicio</a>

    <a *ngIf="router.url !== '/founder'" routerLink="/founder" routerLinkActive="active">Fundador</a>

    <a *ngIf="router.url !== '/artists'" routerLink="/artists" routerLinkActive="active">Artistas</a>

    <a *ngIf="router.url !== '/vinilos'" routerLink="/vinilos" routerLinkActive="active">Vinilos</a>

    <a *ngIf="router.url !== '/merch'" routerLink="/merch" routerLinkActive="active">Merch</a>

    <a *ngIf="router.url !== '/about'" routerLink="/about" routerLinkActive="active">Sobre Nosotros</a>

  </nav>

  </div>

</header>
